<div class="services" id="services">
  <h2>Nuestros Servicios</h2>
  <div class="service-card">
    <img src="assets/services/desarrollo-de-aplicaciones.png" alt="Servicio 1">
    <h3>Desarrollo Web</h3>
    <p>
    Desarrollamos aplicaciones web rápidas, seguras y personalizadas, pensadas para brindarte la mejor experiencia y adaptarse a los objetivos únicos de tu empresa.
    </p>

  </div>

  <div class="service-card">
    <img src="assets/services/disenador.png" alt="Servicio 2">
    <h3>Diseño UX/UI</h3>
    <p>
    Diseñamos interfaces intuitivas y experiencias de usuario atractivas, enfocadas en usabilidad y satisfacción para tus clientes.
    </p>

  </div>

  <div class="service-card">
    <img src="assets/services/seo.png" alt="Servicio 3">
    <h3>SEO & Marketing</h3>
    <p>
    Optimización y estrategias digitales para hacer crecer tu negocio en línea de forma sostenible.
    </p>

  </div>
</div>
